<html>
  <head>
    <meta charset="utf-8">
    <title>Viking Store Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/master.css">
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
  </head>
  <body>
    <h1>Viking Store Analytics Dashboard</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>1. Overall Platform</h2>
          <h3>Last 7 Days</h3>
          <%= render partial: "overall_table", locals: {data_array: overall_platform(7)} %>
          <h3> Last 30 Days</h3>
          <%= render partial: "overall_table", locals: {data_array: overall_platform(30)} %>
          <h3>Total</h3>
          <%= render partial: "overall_table", locals: {data_array: overall_platform} %>
        </div>

        <div class="col-md-6">
          <h2>2. User Demographics and Behavior </h2>
          <h3>Top 3 States users live in (billing)</h3>
          <table class="table table-striped table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <% User.top_3_states.each do |line| %>
              <tr>
                <td><%= line.state_name %> </td>
                <td><%= line.all_users %> </td>
              </tr>
            <% end %>
          </table>

          <h3>Top 3 Cities users live in (billing)</h3>
          <table class="table table-striped table-bordered">
            <tr>
              <th>Item</th>
              <th>Data</th>
            </tr>
            <% User.top_3_cities.each do |line| %>
              <tr>
                <td><%= line.city_name %> </td>
                <td><%= line.all_users %> </td>
              </tr>
            <% end %>
          </table>
          <h3>Top User with...</h3>
          <%= render partial: "top_users_table", locals: {data_array: top_users} %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>3. Order Statistics</h2>
          <h3>Last 7 Days</h3>
          <%= render partial: "overall_table", locals: {data_array: order_statistics(7)} %>
          <h3> Last 30 Days</h3>
          <%= render partial: "overall_table", locals: {data_array: order_statistics(30)} %>
          <h3>Total</h3>
          <%= render partial: "overall_table", locals: {data_array: order_statistics} %>

        </div>
        <div class="col-md-6">
          <h2>4. Time Series Data</h2>
          <h3>Orders by day</h3>
          <table class="table table-striped table-bordered">
            <tr>
              <th>Date</th>
              <th>Quantity</th>
              <th>Value</th>
            </tr>
              <% (0..6).each do |offset| %>
                <tr>
                  <td><%= (Time.now.midnight - offset.days).strftime("%m/%d") %></td>
                  <td><%= Order.orders_on_day(offset) %> </td>
                  <td><%= Order.revenue_on_day(offset) %> </td>
                </tr>
              <% end %>
          </table>
          <h3>Orders by week</h3>
          <table class="table table-striped table-bordered">
            <tr>
              <th>Date</th>
              <th>Quantity</th>
              <th>Value</th>
            </tr>
              <% (0..6).each do |offset| %>
                <tr>
                  <td><%= (Time.now.midnight - offset.weeks).strftime("%m/%d") %></td>
                  <td><%= Order.orders_in_week(offset) %> </td>
                  <td><%= Order.revenue_in_week(offset) %> </td>
                </tr>
              <% end %>
          </table>
        </div>
      </div>
    </div>
