<h2 id="heading-users" class="text-center">Edit Category <%= @category.id %>: <%= @category.name %></h2>

<%= form_for @category do |f| %>
<table>
  <tr>
    <td><b>Category ID:</b></td>
    <td>N/A</td>
  </tr>
  <tr>
    <td><b><%= f.label :name, "Name:" %></b></td>
    <td> <%= f.text_field :name %> </td>
  </tr>
</table>
    <%= f.submit "Update Category", :class => "btn btn-primary" %>
    <% end %>
  <br>  <%= link_to("Delete Category", @category, :method => :delete,
                              data: { confirm: "You sure?" }) %>
  </br>
