<!DOCTYPE html>
<html>
<head>
      <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <title>Viking Store Admin Portal</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div id="masthead">
    <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1>Viking Store Admin Portal</h1>
          </div>
        </div>
    </div><!--/container-->
  </div><!--/masthead-->
  <div class="container">
    <div class="row">
        <!--left-->
        <div class="col-md-3" id="leftCol">
          <%= render 'layouts/navigation' %>
        </div><!--/left-->
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
